html, body {
    height: 100%;
    margin: 0;
}

/* wrapper literarly around evertything */
.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}


/* <EXPERIMENTAL> */
.box .row {
  border: 1px dotted grey;
}

.box .row.header {
  flex: 0 1 auto;
  /* The above is shorthand for:
  flex-grow: 0,
  flex-shrink: 1,
  flex-basis: auto
  */
}

.box .row.content {
  flex: 1 1 auto;
}

.box .row.footer {
  flex: 0 1 40px;
}
/* </EXPERIMENTAL> */

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

/* Set gray background color and 100% height */
.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
}

/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {height:auto;}
}

/* Increase spacing between rows */
.row-increased-top {
    margin-top : 20px;
}

/* Increase spacing for lead titles */
.spacing-increased {
    padding-left: 15px;
}

/* Increase spacing for lead titles */
.row-increased-bottom {
    margin-bottom: 20px;
}

/* Increase spacing for checkbox form group */
.check-box-spacing {
    margin-left: 10px;
    margin-right: 10px;
}
/* Create a scrollable table */
.tr-sc {
    width: 100%;
    display: inline-table;
    height:30px;
}

.table-sc {
    height:350px;
    display: -moz-groupbox;
}

.tbody-sc {
    overflow-y: scroll;
    height: 300px;
    width: 98%;
    position: absolute;
}

/* Crop the image to size */
.center-cropped {
    object-fit: none; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    height: 200px;
    width: 170px;
}


/* Size for login */
.navbar-login
{
    padding: 1em;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 1em;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 5em;
}

/* login divs */
#login-size {
    width: 100%;
}

/* raphael js css*/
#content {
    height: 100%;
    padding: 0;
    overflow: auto;
    background: #f3f3f3;
    background-image: linear-gradient(rgba(100, 100, 100, .1) .1em, transparent .1em), linear-gradient(90deg, rgba(100,100,100, .1) .1em, transparent .1em);
    background-size: 1em 1em;
}

/* if button is checked */
.button_checked {
    padding: 6px 12px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

/*#add_connection_button {
    white-space: pre-wrap;
}*/

/*@media screen and (min-width: 768px) {
    .fixed_bottom {
        position: absolute;
        width: 100%;
        bottom: 0;
    }
}*/


/* style for navigation bar */
 .navbar {
  min-height: 50px;
}

.navbar-brand {
  padding: 0 15px;
  height: 50px;
  line-height: 50px;
  max-height: 50px;
}

.navbar-toggle {
  /* (80px - button height 34px) / 2 = 23px */
  margin-top: 23px;
  padding: 9px 10px !important;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    /* (80px - line-height of 27px) / 2 = 26.5px */
    padding-top: 17px;
    padding-bottom: 17px;
    line-height: 14px;
  }
}


/* main row that contains toolbar, canvas and settings*/
.row.content {
   height: 100%;
}

/* wrapper around content, navbar and footer not included*/
#main-container{
    height: calc(100vh - 50px);
}

/* buttons in toolbar */
.btn {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* how should be input in settings(visualisation tab) styled*/
.myInputForm {
    width: 85%;
    max-width: 85%;
    min-width: 85%;
}

/* when input is disabled */
input:disabled, textarea:disabled {
  color: gray;
  border: 1px solid gray;
}

/* style for modals */

.modal-body .form-horizontal .col-sm-2,
.modal-body .form-horizontal .col-sm-10 {
    width: 100%
}

.modal-body .form-horizontal .control-label {
    text-align: left;
}
.modal-body .form-horizontal .col-sm-offset-2 {
    margin-left: 15px;
}

.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    max-height: 500px;
    overflow-y: auto;
}

.svg-link{
    padding: 0px;
}
.svg-link:hover{
    cursor: pointer;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.container:hover .image {
    opacity: 0.3;
}

.container:hover .middle {
    opacity: 1;
}

.text {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

.a-tag{
    color: white;
}

.a-tag:hover{
    color: white;
}
